{% extends "bootstrap/base.html" %}
{% block title %}index{% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>{{ name }}</h1>
	</div>
	<form method="POST" target="http://192.168.56.102">
		{{ form.hidden_tag() }}{{ form.user.label }}{{ form.user() }}<br/>
		{{ form.hidden_tag() }}{{ form.password.label }}{{ form.password() }}<br/>
		{{ form.hidden_tag() }}{{ form.file.label }}{{ form.file() }}<br/>
		{{ form.submit() }}
	</form>
</div>
{% endblock %}
